Repository linkedin/beam, pull requests merged in 2023-02, with the labels that each got.

#68 Udf metrics support
  CHANGES.md
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaDoFnRunners.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaMetricsBundleProgressHandler.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaMetricsBundleProgressHandlerTest.java
Labels: runners, samza

#69 Update version to 2.45.1
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
Labels: build

#72 Clean up intern code to add support for Flink custom translations
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/FlinkCustomPayloadRegistrar.java
  runners/core-construction-java/src/main/java/org/apache/beam/runners/core/construction/PTransformTranslation.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/CreateStreamingFlinkView.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkCustomTransformTranslatorRegistrar.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkLiStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
Labels: runners, build, core, flink, java

#73 Update version to 2.45.2
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
Labels: build

#74 Make flink streaming translator public
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPipelineTranslator.java
Labels: runners, flink
