Repository linkedin/beam, pull requests merged in 2023-08, with the labels that each got.

#101 Fix Li FlinkRunner change styling issues found by spotless check
  .github/workflows/li_runners_flink_tests.yml
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironment.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTranslationContext.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/VersionDependentFlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkPipelineExecutionEnvironmentTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslatorsTest.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/ReadSourceStreamingTest.java
Labels: runners, build, flink

#102 Add RunnerPipelineoptionsFactory and Registrar to support loading PipelineOptionsFactory in runtime
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  sdks/java/core/src/main/java/org/apache/beam/sdk/coders/AvroSpecificCoder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/io/GenerateSequence.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/RunnerPipelineOptionsFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/OverridablePTransform.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/PTransformOverrideRegistrar.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/reflect/ByteBuddyDoFnInvokerFactory.java
Labels: build, java

#85 Improve the CombinedByKey translator in the DataStream-based Flink batch runner.
  runners/flink/1.12/src/main/java/org/apache/beam/runners/flink/StreamingTranslatorsUtil.java
  runners/flink/1.13/src/main/java/org/apache/beam/runners/flink/StreamingTranslatorsUtil.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
  sdks/java/build-tools/src/main/resources/beam/suppressions.xml
  website/www/site/layouts/shortcodes/flink_java_pipeline_options.html
  website/www/site/layouts/shortcodes/flink_python_pipeline_options.html
Labels: runners, build, flink, java, website

#104 Update Beam version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingPortablePipelineTranslator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkStreamingTransformTranslators.java
Labels: runners, build, flink

#105 Invoke RunnerPipelineOptionsFactory by checking stack trace
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/PipelineOptionsFactory.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/RunnerPipelineOptionsFactory.java
Labels: build, java

#106 LISAMZA-31528: Add top level module for improving Beam auto ELR stability and productivity
  auto-elr/build.gradle
  settings.gradle.kts
Labels: build

#107 Merge oss TestSamzaRunner pr and update version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/samza/src/main/java/org/apache/beam/runners/samza/TestSamzaRunner.java
Labels: runners, samza, build
