Repository linkedin/beam, pull requests merged in 2025-03, with the labels that each got.

#143 Fix Race Condition in removeReadyTimers() to Prevent Cleared Timers from Firing
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/DoFnOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/GroupByKeyOp.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SamzaTimerInternalsFactory.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/runtime/SplittableParDoProcessKeyedElementsOp.java
  runners/samza/src/test/java/org/apache/beam/runners/samza/runtime/SamzaTimerInternalsFactoryTest.java
Labels: runners, samza, build

#144 Support Customized Property Handling in ProxyInvocationHandler
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkRunnerResult.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ProxyInvocationHandler.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/testing/PropertyCustomizationHandler.java
Labels: runners, build, flink, java

#145 fix BoundValue cast issue
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ProxyInvocationHandler.java
Labels: build, java

#146 support global metrics in flink runner
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/flink/src/main/java/org/apache/beam/runners/flink/metrics/GlobalMetricsUtils.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkDoFnFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkExecutableStageFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/functions/FlinkStatefulDoFnFunction.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/SourceInputFormat.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/DoFnOperator.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/translation/wrappers/streaming/io/UnboundedSourceWrapper.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/metrics/MetricsEnvironment.java
Labels: runners, build, flink, java
