Repository linkedin/beam, pull requests merged in 2025-01, with the labels that each got.

#135 Add Support to inject external user configs
  .github/actions/setup-default-test-properties/test-properties.json
  auto-elr/build.gradle
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  learning/tour-of-beam/learning-content/java/introduction/introduction-concepts/runner-concepts/description.md
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigBuilder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/expansion/ExternalConfigRegistrar.java
  settings.gradle.kts
Labels: runners, samza, build, flink, java, learning

#136 bump version to trigger elr
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
Labels: build

#138 revert changes and bump version
  .github/actions/setup-default-test-properties/test-properties.json
  auto-elr/build.gradle
  build.gradle.kts
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  learning/tour-of-beam/learning-content/java/introduction/introduction-concepts/runner-concepts/description.md
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigBuilder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/expansion/ExternalConfigRegistrar.java
  settings.gradle.kts
Labels: runners, samza, build, flink, java, learning

#140 Add ExternalConfigRegistrar to inject configs
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/ConfigBuilder.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/expansion/ExternalConfigRegistrar.java
Labels: runners, samza, build, flink, java

#141 revert 'add engine agnostic GroupWithoutRepartition transform'
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/samza/src/main/java/org/apache/beam/runners/samza/transforms/GroupWithoutRepartition.java
  runners/samza/src/main/java/org/apache/beam/runners/samza/translation/GroupByKeyTranslator.java
  sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/GroupWithoutRepartition.java
  sdks/java/core/src/test/java/org/apache/beam/sdk/transforms/GroupByKeyTest.java
Labels: runners, samza, build, java

#142 remove flinkConfMap from FlinkPipelineOptions
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkExecutionEnvironments.java
  runners/flink/src/main/java/org/apache/beam/runners/flink/FlinkPipelineOptions.java
  runners/flink/src/test/java/org/apache/beam/runners/flink/FlinkExecutionEnvironmentsTest.java
Labels: runners, build, flink
