Repository linkedin/beam, pull requests merged in 2025-04, with the labels that each got.

#147 fix offspring init issue
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ProxyInvocationHandler.java
Labels: java

#148 bump version
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
Labels: build

#150 LISAMZA-52882:Imporve Offspring support in Flink Beam
  buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy
  gradle.properties
  sdks/java/core/src/main/java/org/apache/beam/sdk/options/ProxyInvocationHandler.java
Labels: build, java
